# Бинарные файлы программ и плагинов
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники (собраны через `go test -c`)
*.test

# Результаты покрытия (например, при использовании LiteIDE)
*.out

# Бинарники проекта
cmd/gophermart/main
cmd/gophermart/gophermart

# Директории зависимостей (уберите комментарий ниже, чтобы включить)
vendor/

# Директории IDE
.idea
.vscode
